In [1]:
import pandas as pd 

df = pd.read_csv ('210619monatszahlenjuni2021monatszahlen2106verkehrsunfaelle.csv')


print(df.head)

<bound method NDFrame.head of            MONATSZAHL             AUSPRAEGUNG  JAHR   MONAT    WERT  \
0      Alkoholunfälle               insgesamt  2021  202101     NaN
1      Alkoholunfälle               insgesamt  2021  202102     NaN
2      Alkoholunfälle               insgesamt  2021  202103     NaN
3      Alkoholunfälle               insgesamt  2021  202104     NaN
4      Alkoholunfälle               insgesamt  2021  202105     NaN
5      Alkoholunfälle               insgesamt  2021  202106     NaN
6      Alkoholunfälle               insgesamt  2021  202107     NaN
7      Alkoholunfälle               insgesamt  2021  202108     NaN
8      Alkoholunfälle               insgesamt  2021  202109     NaN
9      Alkoholunfälle               insgesamt  2021  202110     NaN
10     Alkoholunfälle               insgesamt  2021  202111     NaN
11     Alkoholunfälle               insgesamt  2021  202112     NaN
12     Alkoholunfälle               insgesamt  2020   Summe   430.0
13     Alkoholunfälle               insgesamt  2020  202001    28.0
14     Alkoholunfälle               insgesamt  2020  202002    40.0
15     Alkoholunfälle               insgesamt  2020  202003    27.0
16     Alkoholunfälle               insgesamt  2020  202004    26.0
17     Alkoholunfälle               insgesamt  2020  202005    40.0
18     Alkoholunfälle               insgesamt  2020  202006    49.0
19     Alkoholunfälle               insgesamt  2020  202007    58.0
20     Alkoholunfälle               insgesamt  2020  202008    46.0
21     Alkoholunfälle               insgesamt  2020  202009    46.0
22     Alkoholunfälle               insgesamt  2020  202010    34.0
23     Alkoholunfälle               insgesamt  2020  202011    23.0
24     Alkoholunfälle               insgesamt  2020  202012    13.0
25     Alkoholunfälle               insgesamt  2019   Summe   434.0
26     Alkoholunfälle               insgesamt  2019  201901    22.0
27     Alkoholunfälle               insgesamt  2019  201902    28.0
28     Alkoholunfälle               insgesamt  2019  201903    34.0
29     Alkoholunfälle               insgesamt  2019  201904    36.0
...               ...                     ...   ...     ...     ...
1965  Verkehrsunfälle  Verletzte und Getötete  2002  200209   621.0
1966  Verkehrsunfälle  Verletzte und Getötete  2002  200210   630.0
1967  Verkehrsunfälle  Verletzte und Getötete  2002  200211   563.0
1968  Verkehrsunfälle  Verletzte und Getötete  2002  200212   394.0
1969  Verkehrsunfälle  Verletzte und Getötete  2001   Summe  7452.0
1970  Verkehrsunfälle  Verletzte und Getötete  2001  200101   448.0
1971  Verkehrsunfälle  Verletzte und Getötete  2001  200102   439.0
1972  Verkehrsunfälle  Verletzte und Getötete  2001  200103   535.0
1973  Verkehrsunfälle  Verletzte und Getötete  2001  200104   578.0
1974  Verkehrsunfälle  Verletzte und Getötete  2001  200105   817.0
1975  Verkehrsunfälle  Verletzte und Getötete  2001  200106   679.0
1976  Verkehrsunfälle  Verletzte und Getötete  2001  200107   921.0
1977  Verkehrsunfälle  Verletzte und Getötete  2001  200108   600.0
1978  Verkehrsunfälle  Verletzte und Getötete  2001  200109   643.0
1979  Verkehrsunfälle  Verletzte und Getötete  2001  200110   717.0
1980  Verkehrsunfälle  Verletzte und Getötete  2001  200111   568.0
1981  Verkehrsunfälle  Verletzte und Getötete  2001  200112   507.0
1982  Verkehrsunfälle  Verletzte und Getötete  2000   Summe  7053.0
1983  Verkehrsunfälle  Verletzte und Getötete  2000  200001   434.0
1984  Verkehrsunfälle  Verletzte und Getötete  2000  200002   419.0
1985  Verkehrsunfälle  Verletzte und Getötete  2000  200003   509.0
1986  Verkehrsunfälle  Verletzte und Getötete  2000  200004   557.0
1987  Verkehrsunfälle  Verletzte und Getötete  2000  200005   675.0
1988  Verkehrsunfälle  Verletzte und Getötete  2000  200006   685.0
1989  Verkehrsunfälle  Verletzte und Getötete  2000  200007   744.0
1990  Verkehrsunfälle  Verletzte und Getötete  2000  200008   647.0
1991  Verkehrsunfälle  Verletzte und Getötete  2000  200009   675.0
1992  Verkehrsunfälle  Verletzte und Getötete  2000  200010   615.0
1993  Verkehrsunfälle  Verletzte und Getötete  2000  200011   578.0
1994  Verkehrsunfälle  Verletzte und Getötete  2000  200012   515.0

      VORJAHRESWERT  VERAEND_VORMONAT_PROZENT  VERAEND_VORJAHRESMONAT_PROZENT  \
0              28.0                       NaN                             NaN
1              40.0                       NaN                             NaN
2              27.0                       NaN                             NaN
3              26.0                       NaN                             NaN
4              40.0                       NaN                             NaN
5              49.0                       NaN                             NaN
6              58.0                       NaN                             NaN
7              46.0                       NaN                             NaN
8              46.0                       NaN                             NaN
9              34.0                       NaN                             NaN
10             23.0                       NaN                             NaN
11             13.0                       NaN                             NaN
12            434.0                       NaN                           -0.92
13             22.0                    -20.00                           27.27
14             28.0                     42.86                           42.86
15             34.0                    -32.50                          -20.59
16             36.0                     -3.70                          -27.78
17             39.0                     53.85                            2.56
18             40.0                     22.50                           22.50
19             48.0                     18.37                           20.83
20             31.0                    -20.69                           48.39
21             47.0                      0.00                           -2.13
22             45.0                    -26.09                          -24.44
23             29.0                    -32.35                          -20.69
24             35.0                    -43.48                          -62.86
25            398.0                       NaN                            9.05
26             22.0                      4.76                            0.00
27             24.0                     27.27                           16.67
28             32.0                     21.43                            6.25
29             25.0                      5.88                           44.00
...             ...                       ...                             ...
1965          643.0                      3.33                           -3.42
1966          717.0                      1.45                          -12.13
1967          568.0                    -10.63                           -0.88
1968          507.0                    -30.02                          -22.29
1969         7053.0                       NaN                            5.66
1970          434.0                    -13.01                            3.23
1971          419.0                     -2.01                            4.77
1972          509.0                     21.87                            5.11
1973          557.0                      8.04                            3.77
1974          675.0                     41.35                           21.04
1975          685.0                    -16.89                           -0.88
1976          744.0                     35.64                           23.79
1977          647.0                    -34.85                           -7.26
1978          675.0                      7.17                           -4.74
1979          615.0                     11.51                           16.59
1980          578.0                    -20.78                           -1.73
1981          515.0                    -10.74                           -1.55
1982            NaN                       NaN                             NaN
1983            NaN                       NaN                             NaN
1984            NaN                     -3.46                             NaN
1985            NaN                     21.48                             NaN
1986            NaN                      9.43                             NaN
1987            NaN                     21.18                             NaN
1988            NaN                      1.48                             NaN
1989            NaN                      8.61                             NaN
1990            NaN                    -13.04                             NaN
1991            NaN                      4.33                             NaN
1992            NaN                     -8.89                             NaN
1993            NaN                     -6.02                             NaN
1994            NaN                    -10.90                             NaN

      ZWOELF_MONATE_MITTELWERT
0                          NaN
1                          NaN
2                          NaN
3                          NaN
4                          NaN
5                          NaN
6                          NaN
7                          NaN
8                          NaN
9                          NaN
10                         NaN
11                         NaN
12                         NaN
13                        37.0
14                        38.0
15                        37.0
16                        36.0
17                        36.0
18                        37.0
19                        38.0
20                        39.0
21                        39.0
22                        38.0
23                        38.0
24                        36.0
25                         NaN
26                        33.0
27                        34.0
28                        34.0
29                        35.0
...                        ...
1965                     603.0
1966                     595.0
1967                     595.0
1968                     586.0
1969                       NaN
1970                     589.0
1971                     591.0
1972                     593.0
1973                     595.0
1974                     606.0
1975                     606.0
1976                     621.0
1977                     617.0
1978                     614.0
1979                     623.0
1980                     622.0
1981                     621.0
1982                       NaN
1983                     434.0
1984                     427.0
1985                     454.0
1986                     480.0
1987                     519.0
1988                     547.0
1989                     575.0
1990                     584.0
1991                     594.0
1992                     596.0
1993                     594.0
1994                     588.0

[1995 rows x 9 columns]>

In [5]:
list(df.columns)

['MONATSZAHL',
 'AUSPRAEGUNG',
 'JAHR',
 'MONAT',
 'WERT',
 'VORJAHRESWERT',
 'VERAEND_VORMONAT_PROZENT',
 'VERAEND_VORJAHRESMONAT_PROZENT',
 'ZWOELF_MONATE_MITTELWERT']

In [12]:
alcohol_accidents = df.loc[df[df.columns[0]] == 'Alkoholunfälle']

In [22]:
df.loc[(df[df.columns[0]] == 'Alkoholunfälle') & (df[df.columns[1]] == 'insgesamt')] #alcohol and total for all categories

,MONATSZAHL,AUSPRAEGUNG,JAHR,MONAT,WERT,VORJAHRESWERT,VERAEND_VORMONAT_PROZENT,VERAEND_VORJAHRESMONAT_PROZENT,ZWOELF_MONATE_MITTELWERT
0,Alkoholunfälle,insgesamt,2021,202101,NaN,28.0,NaN,NaN,NaN
1,Alkoholunfälle,insgesamt,2021,202102,NaN,40.0,NaN,NaN,NaN
2,Alkoholunfälle,insgesamt,2021,202103,NaN,27.0,NaN,NaN,NaN
3,Alkoholunfälle,insgesamt,2021,202104,NaN,26.0,NaN,NaN,NaN
4,Alkoholunfälle,insgesamt,2021,202105,NaN,40.0,NaN,NaN,NaN
5,Alkoholunfälle,insgesamt,2021,202106,NaN,49.0,NaN,NaN,NaN
6,Alkoholunfälle,insgesamt,2021,202107,NaN,58.0,NaN,NaN,NaN
7,Alkoholunfälle,insgesamt,2021,202108,NaN,46.0,NaN,NaN,NaN
8,Alkoholunfälle,insgesamt,2021,202109,NaN,46.0,NaN,NaN,NaN
9,Alkoholunfälle,insgesamt,2021,202110,NaN,34.0,NaN,NaN,NaN
10,Alkoholunfälle,insgesamt,2021,202111,NaN,23.0,NaN,NaN,NaN
11,Alkoholunfälle,insgesamt,2021,202112,NaN,13.0,NaN,NaN,NaN
12,Alkoholunfälle,insgesamt,2020,Summe,430.0,434.0,NaN,-0.92,NaN
13,Alkoholunfälle,insgesamt,2020,202001,28.0,22.0,-20.00,27.27,37.0
14,Alkoholunfälle,insgesamt,2020,202002,40.0,28.0,42.86,42.86,38.0
15,Alkoholunfälle,insgesamt,2020,202003,27.0,34.0,-32.50,-20.59,37.0
16,Alkoholunfälle,insgesamt,2020,202004,26.0,36.0,-3.70,-27.78,36.0
17,Alkoholunfälle,insgesamt,2020,202005,40.0,39.0,53.85,2.56,36.0
18,Alkoholunfälle,insgesamt,2020,202006,49.0,40.0,22.50,22.50,37.0
19,Alkoholunfälle,insgesamt,2020,202007,58.0,48.0,18.37,20.83,38.0
20,Alkoholunfälle,insgesamt,2020,202008,46.0,31.0,-20.69,48.39,39.0
21,Alkoholunfälle,insgesamt,2020,202009,46.0,47.0,0.00,-2.13,39.0
22,Alkoholunfälle,insgesamt,2020,202010,34.0,45.0,-26.09,-24.44,38.0
23,Alkoholunfälle,insgesamt,2020,202011,23.0,29.0,-32.35,-20.69,38.0
24,Alkoholunfälle,insgesamt,2020,202012,13.0,35.0,-43.48,-62.86,36.0
25,Alkoholunfälle,insgesamt,2019,Summe,434.0,398.0,NaN,9.05,NaN
26,Alkoholunfälle,insgesamt,2019,201901,22.0,22.0,4.76,0.00,33.0
27,Alkoholunfälle,insgesamt,2019,201902,28.0,24.0,27.27,16.67,34.0
28,Alkoholunfälle,insgesamt,2019,201903,34.0,32.0,21.43,6.25,34.0
29,Alkoholunfälle,insgesamt,2019,201904,36.0,25.0,5.88,44.00,35.0
...,...,...,...,...,...,...,...,...,...
255,Alkoholunfälle,insgesamt,2002,200209,107.0,107.0,50.70,0.00,69.0
256,Alkoholunfälle,insgesamt,2002,200210,83.0,77.0,-22.43,7.79,69.0
257,Alkoholunfälle,insgesamt,2002,200211,44.0,68.0,-46.99,-35.29,67.0
258,Alkoholunfälle,insgesamt,2002,200212,63.0,66.0,43.18,-4.55,67.0
259,Alkoholunfälle,insgesamt,2001,Summe,848.0,934.0,NaN,-9.21,NaN
260,Alkoholunfälle,insgesamt,2001,200101,66.0,78.0,-22.35,-15.38,77.0
261,Alkoholunfälle,insgesamt,2001,200102,49.0,53.0,-25.76,-7.55,77.0
262,Alkoholunfälle,insgesamt,2001,200103,63.0,73.0,28.57,-13.70,76.0
263,Alkoholunfälle,insgesamt,2001,200104,68.0,78.0,7.94,-12.82,75.0
264,Alkoholunfälle,insgesamt,2001,200105,85.0,96.0,25.00,-11.46,74.0
265,Alkoholunfälle,insgesamt,2001,200106,68.0,57.0,-20.00,19.30,75.0
266,Alkoholunfälle,insgesamt,2001,200107,71.0,99.0,4.41,-28.28,73.0
267,Alkoholunfälle,insgesamt,2001,200108,60.0,77.0,-15.49,-22.08,71.0
268,Alkoholunfälle,insgesamt,2001,200109,107.0,84.0,78.33,27.38,73.0
269,Alkoholunfälle,insgesamt,2001,200110,77.0,83.0,-28.04,-7.23,73.0
270,Alkoholunfälle,insgesamt,2001,200111,68.0,71.0,-11.69,-4.23,72.0
271,Alkoholunfälle,insgesamt,2001,200112,66.0,85.0,-2.94,-22.35,71.0
272,Alkoholunfälle,insgesamt,2000,Summe,934.0,NaN,NaN,NaN,NaN
273,Alkoholunfälle,insgesamt,2000,200001,78.0,NaN,NaN,NaN,78.0
274,Alkoholunfälle,insgesamt,2000,200002,53.0,NaN,-32.05,NaN,66.0
275,Alkoholunfälle,insgesamt,2000,200003,73.0,NaN,37.74,NaN,68.0
276,Alkoholunfälle,insgesamt,2000,200004,78.0,NaN,6.85,NaN,71.0
277,Alkoholunfälle,insgesamt,2000,200005,96.0,NaN,23.08,NaN,76.0
278,Alkoholunfälle,insgesamt,2000,200006,57.0,NaN,-40.63,NaN,73.0
279,Alkoholunfälle,insgesamt,2000,200007,99.0,NaN,73.68,NaN,76.0
280,Alkoholunfälle,insgesamt,2000,200008,77.0,NaN,-22.22,NaN,76.0
281,Alkoholunfälle,insgesamt,2000,200009,84.0,NaN,9.09,NaN,77.0
282,Alkoholunfälle,insgesamt,2000,200010,83.0,NaN,-1.19,NaN,78.0
283,Alkoholunfälle,insgesamt,2000,200011,71.0,NaN,-14.46,NaN,77.0
284,Alkoholunfälle,insgesamt,2000,200012,85.0,NaN,19.72,NaN,78.0

In [25]:
df.loc[(df[df.columns[0]] == 'Alkoholunfälle') & (df[df.columns[1]] == 'insgesamt') & (df[df.columns[3]] == 'Summe')] #alcohol and total for all categories (total sum only)

,MONATSZAHL,AUSPRAEGUNG,JAHR,MONAT,WERT,VORJAHRESWERT,VERAEND_VORMONAT_PROZENT,VERAEND_VORJAHRESMONAT_PROZENT,ZWOELF_MONATE_MITTELWERT
12,Alkoholunfälle,insgesamt,2020,Summe,430.0,434.0,NaN,-0.92,NaN
25,Alkoholunfälle,insgesamt,2019,Summe,434.0,398.0,NaN,9.05,NaN
38,Alkoholunfälle,insgesamt,2018,Summe,398.0,409.0,NaN,-2.69,NaN
51,Alkoholunfälle,insgesamt,2017,Summe,409.0,301.0,NaN,35.88,NaN
64,Alkoholunfälle,insgesamt,2016,Summe,301.0,411.0,NaN,-26.76,NaN
77,Alkoholunfälle,insgesamt,2015,Summe,411.0,382.0,NaN,7.59,NaN
90,Alkoholunfälle,insgesamt,2014,Summe,382.0,377.0,NaN,1.33,NaN
103,Alkoholunfälle,insgesamt,2013,Summe,377.0,440.0,NaN,-14.32,NaN
116,Alkoholunfälle,insgesamt,2012,Summe,440.0,397.0,NaN,10.83,NaN
129,Alkoholunfälle,insgesamt,2011,Summe,397.0,402.0,NaN,-1.24,NaN
142,Alkoholunfälle,insgesamt,2010,Summe,402.0,430.0,NaN,-6.51,NaN
155,Alkoholunfälle,insgesamt,2009,Summe,430.0,482.0,NaN,-10.79,NaN
168,Alkoholunfälle,insgesamt,2008,Summe,482.0,560.0,NaN,-13.93,NaN
181,Alkoholunfälle,insgesamt,2007,Summe,560.0,599.0,NaN,-6.51,NaN
194,Alkoholunfälle,insgesamt,2006,Summe,599.0,600.0,NaN,-0.17,NaN
207,Alkoholunfälle,insgesamt,2005,Summe,600.0,659.0,NaN,-8.95,NaN
220,Alkoholunfälle,insgesamt,2004,Summe,659.0,730.0,NaN,-9.73,NaN
233,Alkoholunfälle,insgesamt,2003,Summe,730.0,803.0,NaN,-9.09,NaN
246,Alkoholunfälle,insgesamt,2002,Summe,803.0,848.0,NaN,-5.31,NaN
259,Alkoholunfälle,insgesamt,2001,Summe,848.0,934.0,NaN,-9.21,NaN
272,Alkoholunfälle,insgesamt,2000,Summe,934.0,NaN,NaN,NaN,NaN

In [26]:
df.loc[(df[df.columns[0]] == 'Alkoholunfälle') & (df[df.columns[1]] == 'insgesamt') & (df[df.columns[3]] == 'Summe')].sort_values(by=[df.columns[2]])

,MONATSZAHL,AUSPRAEGUNG,JAHR,MONAT,WERT,VORJAHRESWERT,VERAEND_VORMONAT_PROZENT,VERAEND_VORJAHRESMONAT_PROZENT,ZWOELF_MONATE_MITTELWERT
272,Alkoholunfälle,insgesamt,2000,Summe,934.0,NaN,NaN,NaN,NaN
259,Alkoholunfälle,insgesamt,2001,Summe,848.0,934.0,NaN,-9.21,NaN
246,Alkoholunfälle,insgesamt,2002,Summe,803.0,848.0,NaN,-5.31,NaN
233,Alkoholunfälle,insgesamt,2003,Summe,730.0,803.0,NaN,-9.09,NaN
220,Alkoholunfälle,insgesamt,2004,Summe,659.0,730.0,NaN,-9.73,NaN
207,Alkoholunfälle,insgesamt,2005,Summe,600.0,659.0,NaN,-8.95,NaN
194,Alkoholunfälle,insgesamt,2006,Summe,599.0,600.0,NaN,-0.17,NaN
181,Alkoholunfälle,insgesamt,2007,Summe,560.0,599.0,NaN,-6.51,NaN
168,Alkoholunfälle,insgesamt,2008,Summe,482.0,560.0,NaN,-13.93,NaN
155,Alkoholunfälle,insgesamt,2009,Summe,430.0,482.0,NaN,-10.79,NaN
142,Alkoholunfälle,insgesamt,2010,Summe,402.0,430.0,NaN,-6.51,NaN
129,Alkoholunfälle,insgesamt,2011,Summe,397.0,402.0,NaN,-1.24,NaN
116,Alkoholunfälle,insgesamt,2012,Summe,440.0,397.0,NaN,10.83,NaN
103,Alkoholunfälle,insgesamt,2013,Summe,377.0,440.0,NaN,-14.32,NaN
90,Alkoholunfälle,insgesamt,2014,Summe,382.0,377.0,NaN,1.33,NaN
77,Alkoholunfälle,insgesamt,2015,Summe,411.0,382.0,NaN,7.59,NaN
64,Alkoholunfälle,insgesamt,2016,Summe,301.0,411.0,NaN,-26.76,NaN
51,Alkoholunfälle,insgesamt,2017,Summe,409.0,301.0,NaN,35.88,NaN
38,Alkoholunfälle,insgesamt,2018,Summe,398.0,409.0,NaN,-2.69,NaN
25,Alkoholunfälle,insgesamt,2019,Summe,434.0,398.0,NaN,9.05,NaN
12,Alkoholunfälle,insgesamt,2020,Summe,430.0,434.0,NaN,-0.92,NaN